body {
    overflow: hidden;
}

.pic_frame {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    padding: 0 40px;
    background-image: url(img/sketch-0a1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .pic_wrapper {
    height: 100%;
} */
/* div.pic_frame::-webkit-scrollbar {
    display: none;
} */
.image_element {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.image_element > * {
    /* height: 100%;
    width: 100%; */
    transform-origin: center;
}
.image_element > video {
    height: 100%;
    width: 100%;
    
}

.image_element > video.active {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    
}
.video_wrapper {
    position: fixed;
   width: 60%;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.video_wrapper video {
    width: 100%;
    height: auto;
}
.image_list .video_list {
    display: none;
} 
#loader_up, #loader_down {
    height: 0;
    overflow: hidden;
    line-height: 60px;
}

#loader_up.active, #loader_down.active {
    height: 60px;
}    



#loader_up img, #loader_down img {
	vertical-align: text-bottom;
}

.aboun_button , .about_block {
    position: fixed;
}