body {
    overflow: hidden;
}

.pic_frame {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    padding: 0 40px;
    background-image: url(img/back-01.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .pic_wrapper {
    height: 100%;
} */
/* div.pic_frame::-webkit-scrollbar {
    display: none;
} */
.image_element {
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.image_element > * {
    /* height: 100%;
    width: 100%; */
    transform-origin: center;
}
.image_element > video {
    height: 100%;
    width: 100%;
    
}

.image_element > video.active {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    
}
.video_wrapper {
    position: fixed;
   width: 60%;
   height: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.video_wrapper video {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.image_list .video_list {
    display: none;
} 
#loader_up, #loader_down {
    height: 0;
    overflow: hidden;
    line-height: 60px;
}

#loader_up.active, #loader_down.active {
    height: 60px;
}    



#loader_up img, #loader_down img {
	vertical-align: text-bottom;
}

.aboun_button p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fbb67b;
    font-size: 1.3rem;
    margin: 0;
    
}
.aboun_button{
display: block;
cursor: pointer;
}

.close_button{
    display: none;
    cursor: pointer;
}
.close_button p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0;
 }
.top-navigation{
    margin: 15px 20px;
    display: block;
    width: 160px;
    height: 90px;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url(img/logo_jab-05.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    transform: translateX(50vw);
    transition: transform 500ms ease-in-out;
    background: #fbb67b;
    z-index: 100;
    overflow: hidden;
}
.sidebarIconToggle{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;
}
.innerSidebar{
    overflow-y: scroll;
    overflow-x: auto;
    color: #ffffff;
    margin: 50px 30px;
    height: 90vh;
}
.innerSidebar h1, p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle>.aboun_button {
   display: none;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle>.close_button {
    display: block;
 }
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
    position: relative;
    z-index: 100;
}
@media (max-width: 768px) {
    #sidebarMenu {
     width: 100vw;
     transform: translateX(100vw)   
    }    
}